.div-form{
	font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	width:250px;
	height: 300px;
	background: #FFFFFF;
	margin-left:50px;
	margin-top: 20px;
	margin-bottom: 40px;
	padding: 5px 0px 10px 15px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
	display: flex;
    flex-direction: column;
}

.render-div{
	width:300px;
	margin-right: 0px;
}

.title {
	background: #4D4D4D;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
	color: whitesmoke;
	font-size: 20px;
	text-align: center;
	max-width: 270px;
	height: 42px;
	padding-top:13px;
	margin: -5px 0px -10px -15px;
  }

.form-item-setting{
	margin:0px, 0px, 0px, 0px;
	max-width: 230px;
	padding: 1px 0px 0px 0px;
}

 .formStyle{
	margin: 0px, 0px, 0px, 2px;
	max-width: 230px;
	padding: 1px 0px 2px 0px;
} 



.formStyle li{
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 5px 0;
}

.formStyle label{
	margin:0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: bold;
}

.def-set{
	transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	border: 1px solid #ccc;
	padding: 2%;
	color: #555;
	font: 130% Arial, Helvetica, sans-serif;
	border:none;
	border-bottom: 1.5px solid #555;
}


.def-set:focus{
	box-shadow: 0 0 5px #43D1AF 0;
	transition: all 100ms;
	padding: 2%;
	border: none;
	border-bottom: 2px dashed #43D1AF;
}

.submit_bt{
	background:#555;
	color:#fff;
	border:none;
	position:relative;
	height:30px;
	font-weight: bold;
	width: 230px;
	font-size:18px;
	padding-bottom: 5px;
	cursor:pointer;
	transition:800ms ease all;
	outline:none;
	margin-top:20px;
  }
  .submit_bt:hover{
	background:#fff;
	color:#555;
  }
  .submit_bt:before,.submit_bt:after{
	content:'';
	position:absolute;
	top:0;
	right:0;
	height:2px;
	width:0;
	background: #555;
	transition:400ms ease all;
  }
  .submit_bt:after{
	right:inherit;
	top:inherit;
	left:0;
	bottom:0;
  }
  .submit_bt:hover:before,.submit_bt:hover:after{
	width:100%;
	transition:800ms ease all;
  }

.divtest{
	position: absolute;
	top: 208px;
	left: 295px;
	/* width: calc(100% -  300px); */
	max-width: 1620px;
	max-height: 800px;
	overflow: hidden;
}

.view-item-style{
	list-style:none;
	flex-flow: column wrap;
}

.data-batch{
	display: flex;
	align-content: stretch;
	flex-flow: row wrap;
	width: 1660px;
	height: 700px;
	max-width: 1600px;
	max-height: 700px;
}