.style{
    background: #ffffff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    border: 1px solid;
}

.item-name{
    background: #4D4D4D;;
}

.view-form-style{
	margin: 0px, 0px, 0px, 2px;
	max-width: 230px;
    padding: 1px 0px 2px 0px;
    list-style:none;
} 

.item{
    transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	padding-top: 15px;
	padding-bottom: 6.5px;
	color: #555;
	font: 130% Arial, Helvetica, sans-serif;
	border:none;
	width: 100%;
	flex: auto;
}

.view-div{
    padding-top: 10px;
}

.div-form2{
	font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	width:250px;
	height: 300px;
	background: #FFFFFF;
	margin-left:30px;
	margin-top: 20px;
	margin-right: 12px;
	margin-bottom: 20px;
	padding: 5px 0px 10px 15px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
	display: flex;
    flex-direction: column;
}